.BarraTopoGeral {

    width: 100%;
    height: 500px;

}

.BarraTopoBarra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.BarraTopoTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;

}

.LogoH1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin-right: 90px;
    color: rgb(0, 140, 112);
    width: 190px;
    height: 45px;
    text-align: center;
}

.BarraTopoNavegador {
    position: absolute;
    margin-top: 100px;
    width: 90%;
    height: 40px;
    border: 1px solid aqua;
    background-color: rgb(0, 140, 112);
}

.BarraTopoImg {
    width: 100%;
    height: 70%;
}

.BarraTopoImagem {
    width: 100%;
    height: 400px;
    border-bottom: 2px solid rgb(0, 140, 112);
}

.BarraTopoAtalhos {

    width: 96.6%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

.AtalhosStyle {
    color: white;
    font-size: 20px;
    font-family: monospace;

}

.AtalhosStyle:hover {
    color: aqua
}

.Mensagem {

    width: 30%;
    width: 50%;
    color: rgb(0, 140, 112);
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.SpanMensagem {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: absolute;

}

.BarraTopoAdd {
    width: 100%;
    height: 250px;

}